[package]
name = "{{packageName}}"
version = "{{packageVersion}}"
authors = ["{{{packageAuthors}}}"]
description = "{{{packageDescription}}}"
license = "MIT"
edition = "2021"
repository = "{{{packageRepository}}}"
homepage = "{{{packageHomepage}}}"
documentation = "https://docs.rs/{{packageName}}"
readme = "README.md"
keywords = ["doppler", "secrets", "api", "client", "env"]
categories = ["api-bindings", "web-programming::http-client"]

[features]
default = []
rustls = ["reqwest/rustls-tls"]

[dependencies]
serde = { version = "^1.0", features = ["derive"] }
serde_with = { version = "^3.8", default-features = false, features = ["base64", "std", "macros"] }
serde_json = "^1.0"
serde_repr = "^0.1"
url = "^2.5"
chrono = { version = "^0.4", features = ["serde"] }
reqwest = { version = "^0.12", default-features = false, features = ["json", "multipart"] }

[dev-dependencies]
tokio = { version = "^1.39.0", features = ["full"] } 